.simplifycommerce-form {
    margin-top: 16px;
    border: solid silver 1px;    
    padding: 8px;
    width: 500px; 
}

iframe[name=simplifycommerce-iframe] {
    width: 500px; 
    height: 620px; 
    overflow: hidden;
}

.simplifycommerce-cards-title {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

.simplifycommerce-card {
    height: 32px;
    line-height: 32px;
}

.simplifycommerce-card-other {
    font-weight: bold;
}