<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <simplifycommerce>
                <debug>0</debug>
                <active>1</active>
                <model>MasterCard\SimplifyCommerce\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Credit Card by Simplify Commerce</title>
                <order_status>processing</order_status>
				<public_key></public_key>
				<private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"></private_key>
                <cctypes>AE,VI,MC,JCB,DI,DN</cctypes>
                <currencies>AUD,USD</currencies>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <simplify_hostedpayments>1</simplify_hostedpayments>
                <min_order_total>0.50</min_order_total>
                <customer_save_credit_card>0</customer_save_credit_card>
            </simplifycommerce>
        </payment>
    </default>
</config>
