<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2019 Mastercard. Licensed under Open Software License ("OSL") v. 3.0.
  ~ See file LICENSE.txt or go to https://opensource.org/licenses/OSL-3.0 for full license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_simplifycommerce">
        <observer name="simplifycommerce_gateway_data_assign" instance="MasterCard\SimplifyCommerce\Observer\DataAssignObserver" />
    </event>
</config>
