<?xml version="1.0"?>
<!--
  ~ Copyright (c) On Tap Networks Limited.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mastercard_simplify" frontName="mastercard">
            <module name="MasterCard_SimplifyCommerce" />
        </route>
    </router>
</config>
